<h1>This is one MEAN Authentication app.</h1>
<h2>It was designed and implemented using the MEAN stack.</h2>
<p>Create an Express Rest API which exposes CRUD functionalities for a student/course system. Create a student model which describes
    student information (student number, password, first name, last name, address, city, phone number, email, program) and
    also a course model which describes course information (course code, course name, section, semester). The information
    should be stored in a MongoDB database. Use ref to allow a student document to make a reference to corresponding course
    document. Provide authentication capabilities using Passport – local strategy. </p>

<p>Create an Angular 2 MVC front end that allows students to login, add a course, update a course (for example change the section),
    drop a course, list all the courses taken by a student, list all students, list all courses, and list all students that
    are taking a given course. Apply MVC principles. Design nice and friendly web pages.
</p>
<hr>

<h4>Created by: Philip Laxamana (300711308) &copy;</h4>