<div class="jumbotron">
  <h1 class="display-4">EveRy University</h1>
  <p class="lead">At EveRy University, we want you to pay us. You will not not regret it. Everyone knows that the reason you go to college is for money. College means a degree, a degree means a job, and a job means money. With EveRy, we can guarantee that we might get you to the degree part.</p>
  <hr class="my-4">
  <p *ngIf="!authService.loggedIn()"> Please register or login.</p>
  <br>
  <div>
    <button *ngIf="!authService.loggedIn()" class="btn btn-primary btn-lg" [routerLink]="['/login']" role="button">Login</button>
    <button *ngIf="!authService.loggedIn()" class="btn btn-primary btn-lg" [routerLink]="['/register']" role="button">Register</button>
  </div>
</div>
<div class="row">
    <div class="col-md-4">
      <h3>Why EveRy U?</h3>
      <p> Do you want to go thousands of dollars into debt studying irrelevant subjects in order to have a chance to compete for a crappy job? Then college is the place for you!</p>
    </div>
    <div class="col-md-4">
      <h3>Competitive for the Market</h3>
      <p>With EveRy University, you'll learn the necessary skills and knowledge to be the best, most educated, over qualified mess-cleaning, burger flipping, toilet unclogging scholar with a degree!</p>
    </div>
    <div class="col-md-4">
      <h3>Tuition</h3>
      <p>With our absolutely low prices, you can expect to pay up to $1000 for books, and maybe a hefty $60,000 for 4 years.  Don't forget about the dorm, meal plans, all nighters and booze.</p>
    </div>
  </div>